---
spring:
    application:
        name: CF-WORKSHOP-DEMO
    jpa:
        hibernate:
            ddl-auto: create
logging:
    level:
        org:
            springframework:
                web: INFO
        io:
            pivotal: DEBUG
eureka:
    instance:
        metadataMap:
            instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}
