<div ng-controller="AttendeeListController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>All Attendees</h2>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Address</th>
							<th>City</th>
							<th>State</th>
							<th>Zip Code</th>
							<th>Phone Number</th>
							<th>Email Address</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<!-- Display each entry in a row -->
						<tr ng-repeat="attendee in attendees">
							<td>{{attendee.firstName}}</td>
							<td>{{attendee.lastName}}</td>
							<td>{{attendee.address}}</td>
							<td>{{attendee.city}}</td>
							<td>{{attendee.state}}</td>
							<td>{{attendee.zipCode}}</td>
							<td>{{attendee.phoneNumber}}</td>
							<td>{{attendee.emailAddress}}</td>
							<td>
								<a href="#/attendees/{{attendee.attendeeId}}" class="btn btn-primary btn-sm">Edit</a>
								<input type="button" ng-click="delete(attendee.attendeeId)" class="btn btn-danger btn-sm" value="Delete"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="well">
					<a href="#/attendees/new" class="btn btn-success">New Attendee</a>
				</div>
			</div>
		</div>
	</div>
</div>
