<div ng-controller="EditAttendeeController">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>Attendee Details</h2>
				<div>
					<a href="#/entries">Back to Attendee List</a>
				</div>
				<hr/>
			</div>
		</div>
		<div class="row" ng-show="message">
			<div class="col-md-10">
				<div class="alert alert-info" role="alert">{{message}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-md-10">
				<div class="alert alert-danger" role="alert">{{error}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<form>
					<div class="form-group">
						<label for="firstName">First Name:</label>
						<input type="text" id="feName" class="form-control" ng-model="attendee.firstName" value="{{attendee.firstName}}" placeholder="First Name" required="required"/>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name:</label>
						<input type="text" id="lastName" class="form-control" ng-model="attendee.lastName" value="{{attendee.lastName}}" placeholder="Last Name" required="required"/>
					</div>
					<div class="form-group">
						<label for="address">Address:</label>
						<input type="text" id="address" class="form-control" ng-model="attendee.address" value="{{attendee.address}}" placeholder="Address" required="required"/>
					</div>
					<div class="form-group">
						<label for="city">City:</label>
						<input type="text" id="city" class="form-control" ng-model="attendee.city" value="{{attendee.city}}" placeholder="City" required="required"/>
					</div>
					<div class="form-group">
						<label for="state">State:</label>
						<input type="text" id="state" class="form-control" ng-model="attendee.state" value="{{attendee.state}}" placeholder="State" required="required"/>
					</div>
					<div class="form-group">
						<label for="zipCode">Zip Code:</label>
						<input type="text" id="zipCode" class="form-control" ng-model="attendee.zipCode" value="{{attendee.zipCode}}" placeholder="Zip Code" required="required"/>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text" id="phoneNumber" class="form-control" ng-model="attendee.phoneNumber" value="{{attendee.phoneNumber}}" placeholder="Phone Number"/>
					</div>
					<div class="form-group">
						<label for="hours">Email Address:</label>
						<input type="email" id="emailAddress" class="form-control" ng-model="attendee.emailAddress" value="{{attendee.emailAddress}}" placeholder="Email Address"/>
					</div>					<div class="well">
						<input type="submit" ng-click="update(attendee)" class="btn btn-primary" value="Save"/>
						<input type="button" ng-click="reset()" class="btn btn-warning" value="Reset"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
